<!DOCTYPE html>
<html>
  <head>
    <title>Secret Share</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>&#128274;</text></svg>"/>
    <link data-trunk type="text/css" rel="css" href="static/lit.css"/>
    <!-- config part that is inserted by the server -->
    <script>config={{ json_config }}</script>
  </head>
  <body>
  </body>
</html>